<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{cf.webpage_title}}</title>
    <!-- link css stylesheet for flask -->
    <link href="{{url_for('static', filename='styles/style.css')}}" rel="stylesheet"/>
    <style>
        :root {
            --bg-color: {{ cf.main_background_color}};
            --text-color: {{cf.main_text_color}};
            --button-color: {{cf.button_color}};
            --button-text-color: {{cf.button_text_color}};
            --button-boarder-color: {{cf.button_border_color}};
            --button-boarder-hover-color: {{cf.button_border_hover_color}};
            --sidebar-color: {{cf.sidebar_color}};
            --sidebar-text-color: {{cf.sidebar_text_color}};
        }
    </style>
</head>
<body>
    <div class="page-wrapper">
        <div class="sidebar"> 
             <div class="quotebox">
                <h2 class="quotetitle">Quote of the Day</h2>
                <br>
                <ul>
                    <li class="quote">{{quote}}</li>
                </ul>
                <br>
                <h4 class="author">{{author}}</h4>
            </div>
            <br>
            <div class="weather-box">
                <h2>Weather</h2>
                <h3>{{wd.city}}, {% if wd.state or wd.country %}<br>{{ wd.state|default('') }}{% if wd.state and wd.country %} - {% endif %}{{ wd.country|default('') }}{% endif %}</h3>
                 <img src="{{ url_for('static', filename='weather_icon/' + (wd.icon or 'default.png')) }}" alt="Weather Icon" width="200" height="200">
                    <h3>{{wd.description}}</h3>
                    <ul>
                        <li>Feel -------- {{wd.feel}}</li>
                        <li>High -------- {{wd.max}}</li>
                        <li>Low --------- {{wd.min}}</li>
                        <li>Humidity --- {{wd.humid}}</li>
                        <li>Clouds ------ {{wd.clouds}}</li>
                     </ul>
            </div>
            <br>
            <div>
                <h2>News</h2>
            </div>
            <br>
           
        </div>
        <div class="main-content">
            <div class="top-menu">
                <a href="/home">Home</a>
                <a href="/reports">Reports</a>
                <a href="/settings">Settings</a>
            </div>

            <div class="main-header">
                <h1>{{cf.company}}</h1>
                
                <form action="/index" method="post">
                    <input class="resizedTextbox" type="text" name="idnumber" id="idnumber" placeholder="Scan or Enter ID" maxlength="8" required>
                    <button class="button1" type="submit">Clock In</button>
                </form>
            </div>

            <div class="content"> 
                <div class="left-div">
                    <h2>{{ idnumber }} {{ name }}</h2>
                    <p>{{ group }}</p>
                    <h3>{{time}}</h3>
                    <h3>{{date}}</h3>
                </div>
                <div class="right-div">
                    <img src="{{ url_for('static', filename='images/default.jpg') }}" alt="picture not found" width="256" height="256">
                </div>
            </div>
        </div>
    </div>
</body>
</html>
