<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configuration Menu</title>
    <!-- link css stylesheet for flask -->
    <link href="{{url_for('static', filename='styles/style.css')}}" rel="stylesheet"/>
    <style>
        :root {
            /* Main */
            --bg-color: {{cf.main_background_color or '#0a0a1f'}};
            --text-color: {{cf.main_text_color or '#f0f0f0'}};
            /* Content */
            --content-color: {{cf.content_color or '#1c1c33'}};
            --content-text-color: {{cf.content_text_color or' #ffffff'}};
            /* Sidebar */
            --sidebar-color: {{cf.sidebar_color or '#193763'}};
            --sidebar-text-color: {{cf.sidebar_text_color or '#ffffff'}};
            /* Buttons */
            --button-color: {{cf.button_color or '#1a73ff'}};
            --button-text-color: {{cf.button_text_color or '#ffffff'}};
            --button-hover-color: {{cf.button_hover_color or '#0050b3'}};
            /* Borders */
            --border-color: {{cf.border_color or' #3399ff'}};
        }
    </style>
</head>
<body>
    <div class="page-wrapper">
        <!-- Sidebar -->
        <div class="sidebar"> 
            <h1 style="color:red;">Danger Zone</h1>
            <div class="danger">
                <form action="/settings" method="post">
                    <h3>Restore default configuration settings</h3>
                    <button id="restore" name = "action" value = "restore"
                    title="This will reset your configuration settings to factory defaults. ALL color schemes and API keys will be permanently lost">
                    Restore</button>
                    <br><br><hr><br>
                    <h3> Reset email list</h3>
                    <button id="clear" name = "action" value = "clear"
                    title="This will permanently delete all emails which reports are sent to">
                    Reset</button>
                    <br><br><hr><br>
                    <h3>Delete employee database</h3>
                    <button id="delete_people" name = "action" value = "delete_people"
                    title="This will permanently delete all employee data and timesheets. Epmloyee information will a have to be re-entered any all timsehets will be lost forever">
                    Delete</button>
                    <br><br><hr><br>
                    <h3>Delete timesheets database</h3>
                    <button id="delete_timesheets" name = "action" value = "delete_timesheets"
                    title="This will permanently delete all employee data and timesheets. Epmloyee information will a have to be re-entered any all timsehets will be lost forever">
                    Delete</button>
                    <br><br><hr><br>
                    <h3>Reinstall app; delete all databases and start a clean install</h3>
                    <button id="clean"  name = "action" value = "clean"
                    title="This will remove ALL data and reinitialize the entire system. Only use if there is a catastrophic failure and other troubleshooting is exhausted.">
                    Reinstall</button>
                </form>
            </div>
        </div>
        <!-- Main content -->
        <div class="main-content">
            <!-- Top menu bar -->
            <div class="top-menu">
                <a href="/home">Home</a>
                <a href="/reports">Reports</a>
                <a href="/settings">Settings</a>
            </div>
            <h1>Configuration Settings</h1>

            <div id="flash-messages">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="flash {{ category }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>


            <div class="content">
                <!-- Left Div: forms -->
                <div class="left-div">
                    <h2>Change Company Name</h2>
                    <form action="/settings" method="post">
                        <input class="textBox" type="text" name="company" id="company" placeholder="{{cf.company}}" maxlength="50" required>
                        <button class="color_button" type="submit">Submit</button>
                    </form>
                    <h2>Change City</h2>
                    <form action="/settings" method="post">
                        <input class="textBox" type="text" name="city" id="city" placeholder="{{cf.city}}" maxlength="50" required>
                        <button class="color_button" type="submit">Submit</button>
                    </form>
                    <h2>API Keys</h2>
                    <p>
                    In order to make the weather and news applets work you must get an API key from openweathermaps.com and newapi.org. Once you have these keys you can update the keys stored in the database.
                    </p>
                    <form action="/settings" method="post"> 
                        <input class="wkey" type="text" name="weather_key" id="weather_key" placeholder="openweathermaps.com API key" maxlength="32">
                        <button class="color_button" type="submit">Weather Key</button>
                    </form>
                    <form action="/settings" method="post">
                        <input class="nkey" type="text" name="news_key" id="news_key" placeholder="newsapi.com API key" maxlength="32">
                        <button class="color_button" type="submit">News Key</button>
                    </form>
                    <br>
                    <h2> Email Notifications</h2>
                    <p> Enter the email addresses where reports can be sent to.</p>
                    <form action="/settings" method="post">
                        <input type="email" name="emails" id="emails" placeholder="marcus.aurelius@scanner.com" maxlength="254" required title="Enter the email which you want reports to be sent to.">
                        <p>Select how frequently reports should be e-mailed</p>
                        <input type="radio" id="daily" name="send-reports" value="daily">
                        <label for="html">Daily</label>
                        <input type="radio" id="weekly" name="send-reports" value="weekly">
                        <label for="css">Weekly</label>
                        <input type="radio" id="monthly" name="send-reports" value="monthly">
                        <label for="javascript">Monthly</label>
                        <button class="color_button" type="submit">Submit</button>
                    </form>
                </div>
                <div class="middle-div">
                    <div class="color-section">
                        <h1>Color Schemes</h1>
                        <form action="/settings" method="post">
                            <!-- Main Background -->
                            <div class="color-row">
                                <label for="main_background_color">Main Background</label>
                                <input class="color-text-box" type="color" name="main_background_color" id="main_background_color" value="{{ cf.main_background_color }}" required>
                                <input class="color-text-box" type="color" name="main_text_color" id="main_text_color" value="{{ cf.main_text_color }}" required>
                            </div>
                            <!-- Content -->
                            <div class="color-row">
                                <label for="content_color">Content</label>
                                <input class="color-text-box" type="color" name="content_color" id="content_color" value="{{ cf.content_color }}" required>
                                <input class="color-text-box" type="color" name="content_text_color" id="content_text_color" value="{{ cf.content_text_color }}" required>
                            </div>
                            <!-- Sidebar -->
                            <div class="color-row">
                                <label for="sidebar_color">Sidebar</label>
                                <input class="color-text-box" type="color" name="sidebar_color" id="sidebar_color" value="{{ cf.sidebar_color }}" required>
                                <input class="color-text-box" type="color" name="sidebar_text_color" id="sidebar_text_color" value="{{ cf.sidebar_text_color }}" required>
                            </div>
                            <!-- Buttons -->
                            <div class="color-row">
                                <label for="button_color">Buttons</label>
                                <input class="color-text-box" type="color" name="button_color" id="button_color" value="{{ cf.button_color }}" required>
                                <input class="color-text-box" type="color" name="button_text_color" id="button_text_color" value="{{ cf.button_text_color }}" required>
                                <input class="color-text-box" type="color" name="button_hover_color" id="button_hover_color" value="{{ cf.button_hover_color }}" required>
                            </div>
                            <!-- Border -->
                            <div class="color-row">
                                <label for="border_color">Border</label>
                                <input class="color-text-box" type="color" name="border_color" id="border_color" value="{{ cf.border_color }}" required>
                            </div>
                            <button class="color_button" type="submit">Save Colors</button>
                            <input type="hidden" name="form_type" value="colors">
                        </form>
                        <form form action="/settings" method="post">
                            <button class="color_button" type="submit" id="reset_colors" name="reset_colors">Reset Colors</button>
                        </form>
                    </div>
                </div>


                <div class="right-div">
                   <h1> Update Database</h1>
                   <p> In order to facilitate easy data entry you can UPLOAD CSV, XLSX, and JSON files directly to the employee database.
                    Please refer to documentation for the schema of these files.
                    </p>
                    <br>
                    <form action="/settings" method="post" enctype="multipart/form-data">
                        <label for="fileUpload">Select a file:</label>
                        <input type="file" id="fileUpload" name="fileUpload" accept=".csv, .xlsx, .json" required>
                        <button class = "color_button" type="submit">Upload</button>
                    </form>
                    <br>
                    <h2>Manual Entry</h2>
                    <p> Manually add, update, or remove an entry from the database</p>
                    <form action="/settings" method="post">
                        <input type="radio" id="update" name="manual-entry-action" value="update">
                        <label for="update">ADD / UPDATE</label>
                        <input type="radio" id="remove" name="manual-entry-action" value="remove">
                        <label for="remove">REMOVE</label>

                        <p>All fields must be filled. Enter 'None' if no change, 'NA' if blank.</p>

                        <input type="number" id="idnumber" name="idnumber" placeholder="id: 12345678" required titel = "Enter id number of the employee you want to edit. If removing id is the only field needed all others can be none.">
                        <input type="text" id="filename" name="filename" placeholder="picture filename: 12345678.jpg"  required title="Enter the filename of the employee's picture you want to edit. Be sure to include the file extension. ie .jpg or .png">
                        <br>
                        <input type="text" id="fname" name="fname" placeholder="first name: Marcus" title="Enter the first name of the employee you want to edit" required>
                        <input type="text" id="lname" name="lname" placeholder="last name: Aurelius" title="Enter the last name of the employee you want to edit" required>
                        <br>
                        <input type="email" id="email" name="email" placeholder="e-mail: maurelius@scanner.com" maxlength="254"title="Enter the e-mail of the employee you want to edit. If updating and you want it skipped enter 'none@none.com" required>
                        <input type="text" id="pnumber" name="pnumber" placeholder="phone: 800-555-1234" required maxlength="13" title="Enter the phone number of the employee you want to edit">
                        <br>
                        <input type="text" id="role" name="role" placeholder="role: Philosopher" required title="Enter the role of the employee you want to edit">
                        <input type="text" id="position" name="position" placeholder="position: Emperor" required title="Enter the position of the employee you want to edit">
                        <br>
                        <input type="text" id="department" name="department" placeholder="department: Roman Empire" required title="Enter the department of the employee you want to edit">
                        <br>
                        <button type="submit">Submit</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/settings_script.js') }}"></script>
</body>
</html>
