
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    min-height: 100vh;
    display: flex;
    font-family: Arial, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
}


.page-wrapper {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 250px;
    background-color: var(--sidebar-color);
    color: var(--sidebar-text-color);
    padding: 1rem;
    border-radius: 0 10px 10px 0; 
    height: 100vh; 
    position: sticky; 
    top: 0;
}

.resizedTextbox {
    width: 240px; 
    height: 50px;
    font-size: 30px;
}

.button1 {
  display: inline-block;
  font-size: 30px;
  transition-duration: 0.4s;
  width: 150px;
  height: 50px;
  background-color: var(--button-color);
  color: var(--button-text-color);
  border: 2px solid var((--button-border-color));
}

.button1:hover {
  background-color: var(--button_hover_color);
}

.main-content {
    flex: 1; 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
}

h1 {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
}


.content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px; 
    gap: 1rem;
}

.left-div, .right-div {
    flex: 1;
    padding: 1rem;
    border-radius: 10px;
}

.left-div {
    text-align: left;
    background-color: #444;
}

.right-div {
    text-align: right;
    background-color: #555;
}
